<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Link</title>
  </head>
  <body>
    <form action="/links" method="post">
      <label>URL</label>
        <input type="text" name="url">
      <label>Title</label>
        <input type="text" name="title">
      <label>Tag</label>
        <input type="text" name="tag">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
