<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Link</title>
  </head>
  <body>
    <form action="/links" method="post">
      <input id="url" type="text" name="url">
      <input id="title" type="text" name="title">
      <input id="submit" type="submit" value="Submit">
    </form>
  </body>
</html>
