<h1>Sign up for an account!</h1>

<form action="/details" method="post">
  Username: <input type="text" name="username">
  Email Address: <input type="text" name="email">
  Password: <input type="text" name="password">
  <input type="submit" value="Sign Up">
</form>
